@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@media (min-width: 760px) {
  .slick-slide > div {
    margin: 0 20px;
  }
}
.megamenu::before {
  content: "";
  position: absolute;
  border: solid transparent;
  width: 100%;
  border-width: 20px;
  top: -3.5%;
  z-index: 1;
}
.megamenumen::after {
  content: "";
  position: absolute;
  border: solid transparent;
  width: 2.6%;
  border-width: 2px;
  border-color: #fbb23c;
  top: -4.5%;
  left: 43%;
  z-index: 10;
}
.megamenuwomen::after {
  content: "";
  position: absolute;
  border: solid transparent;
  width: 4%;
  border-width: 2px;
  border-color: orange;
  top: -4.5%;
  left: 47.8%;
  z-index: 10;
}
.megamenukid::after {
  content: "";
  position: absolute;
  border: solid transparent;
  width: 2%;
  border-width: 2px;
  border-color: orange;
  top: -4.5%;
  left: 54%;
  z-index: 10;
}
/* search bar */
.Hotbg {
  transform: translate(-0.01%, 0%);
  background: transparent;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.Hotbg:hover > .Hotbg-txt {
  width: 240px;
  padding: 0 6px;
}

.Hotbg:hover > .Hotbg-btn {
  background: transparent;
  color: black;
}

.Hotbg-btn {
  color: #e84118;
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.Hotbg-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.5s;
  line-height: 20px;
  width: 0px;
}
/* end search bar */
